<nav>
  <ul>
    <h4>Dizzy Sounds</h4>
    <li><a href="#home" id="homeLink">Home</a></li>
    <li><a href="#events" id="eventsLink">Events</a></li>
    <li><a href="#artists" id="artistsLink">Artists</a></li>
    <li><a href="#contact" id="contactLink">Contact</a></li>
  </ul>
  <ul>
    <li>
      <a href="https://www.facebook.com/dizzysoundsband" target="_blank">
        <img
          src="../../assets/images/facebook.png"
          alt="facebook"
          class="social_media"
        />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dizzysoundsband/" target="_blank">
        <img
          src="../../assets/images/instagram.png"
          alt="instagram"
          class="social_media"
        />
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/@dizzysounds1214/" target="_blank">
        <img
          src="../../assets/images/youtube.png"
          alt="youtube"
          class="social_media"
        />
      </a>
    </li>
    <li>
      <a
        href="https://open.spotify.com/intl-fr/artist/0zMFWAio6AVYPtMcr7jYeQ"
        target="_blank"
      >
        <img
          src="../../assets/images/spotify.png"
          alt="spotify"
          class="social_media"
        />
      </a>
    </li>
  </ul>
  <img src="../../assets/images/logo_noir.png" alt="logo" id="logo" />
</nav>
